name: Build and Release dlc.dat

on:
  schedule:
    # Runs at the beginning of every hour
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to create/update releases

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install Poetry
        run: pipx install poetry

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Install dependencies
        run: poetry install --no-root

      - name: Run script to generate dlc.dat
        run: poetry run python main.py --input blocklists.txt --output-name dlc.dat

      - name: Create or Update Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: "Latest Blocklist"
          body: "This release contains the latest automatically generated dlc.dat file."
          make_latest: true
          files: |
            dlc.dat
